<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Our Application</h1>
    <p class="lead">Your journey starts here</p>
    <hr class="my-4">
    <p>Discover all the amazing features we have to offer</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
  </div>
</div>
