<!-- Page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Bem-vindo ao Painel de Controle</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Dashboard <small>Visão Geral</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row tile_count">
              <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total de Questões</span>
                <div class="count">0</div>
                <span class="count_bottom"><i class="green">Respondidas</i></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Última Atividade</span>
                <div class="count">Hoje</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Da semana passada</span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-trophy"></i> Pontuação</span>
                <div class="count">0</div>
                <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> Do mês passado</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>